.navBar {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    /*box-shadow: 0 1px 4px 0px gray;*/
    height: 70px;
}

.col {
    
    display: inline-block;
    width: 33%;
    text-align: center;
}

.ul {
    display: block;
}

.ul li {
    display: inline;
    width: 22%;
    text-decoration: #3D3D3D;
    float: left;
    block-size: auto;
}

.ul li.tjs {
    margin-left: 20px;
    padding-left: 100px;
    width: max-content;
}

div.col a:hover {
    color: orangered;
}

.cart path:hover {
    fill: orangered;
}

a.rightbag {
    padding-left: 45%;
}

.hero { 

    background-color: rgba(37, 37, 37, 0.425);
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    left: -4%;
    position: relative;
    width: 80%;
    display: inline-block;
    text-align: center;
    z-index: 100;
}

.svg {
    margin: 10% 0 0 40%;
    position: absolute;
    width: 20%;
    display: inline-block;
    z-index: 50;
}

.button {
    border-radius: 17px;
    height: 30px;
    width: 95px;
    background-color: black;
    color: white;
}

.button:hover {
    background-color: orangered;
    color: white;
}