.navBar {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    box-shadow: 0 1px 4px 0px gray;
    height: 60px;
}

.col {
    display: inline-block;
    width: 33%;
    text-align: center;
}

.ul {
    display: block;
}

.ul li {
    display: inline-block;
    width: 20%;
    text-decoration: #3D3D3D;
    float: left;
    block-size: auto;
}

.ul li.tjs {
    margin-left: 20px;
    padding-left: 100px;
    width: max-content;
}

div.col a:hover {
    color: orangered;
}

.cart path:hover {
    fill: orangered;
}

a.rightbag {
    padding-left: 100px;
}